@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
.info{
    font-size: smaller;
    color: rgb(101, 101, 101);
}
.inter{
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;}
*{
    font-family: "Inter", serif;
}
.cards img{
    width: 50%;
    position: absolute;
    bottom: 0;
    right: 0;
}
.cards{
    border-radius: 10px;
    position: relative;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
header a{
    text-decoration: none;
    color: hsl(0, 0%, 20%);
}
.links{
    width: 40%;
    display: flex;
    justify-content: space-between;
}